.bottom{
    margin-bottom: 100px;
 }
 .shop{
     margin-top: 10px;
 
 
 }
 .search{
     border: 1px solid #111111;
     width: 469px;
     font-weight: 400px;
 }
 .button{

    width: 5px;
    height: 5px;
 }
 .vl{
     border-left: 10px;
     height: 500px;
 }
 .dis{
     margin-left: 30px;
 }
 .len{
     width: 469px;
     height: 61pxs
 }
 .icon-search{
     width: 30px;
     height: 30px;
 }
