
.star{
    height: 50px;
    width: 50px;
}
.dis{
    margin-left: 78px;
}
.button{
    width: 240px;
    height: 80px;
    margin-top: 40px;
}
.pic{
    width: 300px;
    height: 350x;
}
.pic1{
    width: 120px;
    height: 80px;
    margin-left: 80px;
}
