.filter{
    text-align: center;
}
.rec{
    border: 1px solid #111111;
    width: 617px;
    height: 89px;
    justify-content: center;
    margin-left: 230px;
}
.gia{
    margin-left: 300px;
    margin-top: 30px;
    
}
.tu{
    margin-left: 180px;
}
.so{
    margin-top: 80px;
    margin-left: 0px;
}
.so1{
    margin-left: 0px ;
}
.so2{
    margin-top: 65px;
    margin-left: 0px;
}
.so3{
    margin-left: 0px;
}
.sao{
    margin-right: 890px;
    margin-top: 90px;
}
.sao1{
    margin-right:890px;
}
.sao2{
    margin-right: 890px;
    margin-top: 80px;
}
.sao3{
    margin-right: 890px;
}
